
#home {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.12),
        rgba(0, 0, 0, 0.34)
      ),
      url("./clients-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100%;
}